@model IEnumerable<UserWrapperModel>
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <div class="form-floating mb-3">
            <input type="input" class="form-control" id="username" placeholder="Enter name plaese">
            <label for="username">User name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="Your email address">
            <label for="email">Email</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <hr>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Id)</th>
                <th>@Html.DisplayNameFor(m => m.UserName)</th>
                <th>@Html.DisplayNameFor(m => m.Email)</th>
                <th>@Html.DisplayNameFor(m => m.LastLogin)</th>
                <th>@Html.DisplayNameFor(m => m.Published)</th>
                <th>@Html.DisplayNameFor(m => m.Status)</th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.LastLogin</td>
                    <td>@item.Published</td>
                    <td>@item.Status</td>
                </tr>
            } *@
        </tbody>
    </table>
</div>
