@model IEnumerable<UserWrapperModel>
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Id)</th>
                <th>@Html.DisplayNameFor(m => m.UserName)</th>
                <th>@Html.DisplayNameFor(m => m.Email)</th>
                <th>@Html.DisplayNameFor(m => m.LastLogin)</th>
                <th>@Html.DisplayNameFor(m => m.Published)</th>
                <th>@Html.DisplayNameFor(m => m.Status)</th>
            </tr>
        </thead>
        <tbody>
            <tr><td colspan="6">
                <div class="d-flex justify-content-center">
                    <strong>Loading...</strong>
                    <div class="spinner-border ms-1" role="status" aria-hidden="true"></div>
                </div>
            </td></tr>
            @* @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.LastLogin</td>
                    <td>@item.Published</td>
                    <td>@item.Status</td>
                </tr>
            } *@
        </tbody>
    </table>
</div>
